#logo {}

body {
  background-color: #f1f0f0;
}

.container-fluid {
  padding: 50px;
}

#total-orders {
  background-color: #689649;
  border-radius: 30px;
}

#orders-delivered {
  background-color: #c79c4c;
  border-radius: 30px;
}

#orders-pending {
  background-color: #b33c3c;
  border-radius: 30px;
}