{%extends 'base.html'%}
{% block content %}
{%include 'status.html'%}
<!--https://getbootstrap.com/docs/4.4/layout/grid/ -->
<head>
    <style>

        .card-body{
            border-radius: 20px
        }

        .createbutton{
            border-radius: 20px;
            background-color: #0187f5;
            color: white;
            font-size: 18px;
        }

        .viewbutton{
            border-radius: 20px;
            background-color: #3d717e;
            color: white;
            font-size: 14px;
            width: 70px;
        }


    </style>
</head>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <!--Specificy we want to take up 5/12 content blocks-->
            <div class="mx-auto" style="width: 400px;">
                <h5>CUSTOMER INFORMATION</h5>
            </div>

            <hr>
            <div class="card card-body" >
                <a class="btn btn-sm btn-block createbutton" href="{% url 'createuser' %}">Create new Customer</a>
                <br>
                <table class="table table-md">
                    <tr>
                        
                        <th>Customer</th>
                        <th>Email</th>
                        <th>Details</th>
                    </tr>

                    {% for customer in customers%}
                    <tr>
                        <td>{{customer.name}}</td>
                        <td>{{customer.email}}</td>
                        <th><a class="btn btn-sm viewbutton" href="{% url 'customer' customer.id%}">View</a></th>
                    </tr>
                    {% endfor%}
                </table>
            </div>
        </div>

        <div class="col-md-7">
            <!--Specificy we want to take up 7/12 content blocks-->
            <div class="mx-auto" style="width: 400px;">
                <h5>RECENT ORDERS</h5>
            </div>
            <hr>
            <div class="card card-body">

                <table class="table table-md">
                    <tr>
                        <th>Product</th>
                        <th>Date Ordered</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Remove</th>
                    </tr>
                    {% for order in orders%}
                    <tr>
                        <td>{{order.product}}</td>
                        <td>{{order.date_created}}</td>
                        <td>{{order.status}}</td>
                        <td><a class="btn btn-sm btn-info" href="{%url 'updateOrder' order.id%}">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{%url 'deleteOrder' order.id%}">Delete</a></td>
                    </tr>
                    {% endfor%}

                </table>
            </div>
        </div>
    </div>
    <br>
    <hr>
    
</div>

{% endblock%}