{%extends 'base.html'%}
{% block content %}
{%include 'status.html'%}
<div class="container-fluid">
    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th><u>Product</u></th>
                        <th><u>Category</u></th>
                        <th><u>Date Orderd</u></th>
                        <th><u>Status</u></th>
                
                    </tr>
                        {%for order in orders%}
                        <tr>
                            <th>{{order.product}}</th>
                            <th>{{order.product.category}}</th>
                            <th>{{order.date_created}}</th>
                            <th>{{order.status}}</th>
                        </tr>
                        {%endfor%}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}